body {
    font-family: 'Times New Roman', Times, serif;
    background: url('https://img.pikbest.com/photo/20240529/modern-3d-electronic-circuit-board-technology-background_10588506.jpg!w700wp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: linear-gradient(#e0b03eec, #E6C16A, #DAB060, #CE9F56, #C28E4D, #df6e39);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    max-width: 360px;
    width: 100%;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.container:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

h2 {
    color: #1f1e1e;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    text-shadow:
        1px 1px 0 #d9ad5b,
        2px 2px 0 #c58e39,
        3px 3px 0 #a57228;
    letter-spacing: 1px;
    transition: transform 0.3s ease;
}

h2:hover {
    transform: scale(1.05);
}


label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #e9801d;
    border-radius: 5px;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background: #ffe9ba;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
}

select:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

button {
    width: 100%;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    background: #f0a607;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
    -webkit-text-fill-color: white;
}

button:hover {
    background: #d78f05; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    font-size: 23px;
    transform: scale(1.02);
}


.result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
    padding: 10px;
    background: #e9ecef;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
}

.result:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
