body {
    font-family: 'Arial', sans-serif;
    background: url('https://img.pikbest.com/photo/20240529/modern-3d-electronic-circuit-board-technology-background_10588506.jpg!w700wp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: linear-gradient(#E6C16A, #E6C16A, #DAB060, #CE9F56, #C28E4D,  #bd5b2d);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}


h2 {
    color: #1f1e1e;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
    background: #fff;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background: #f84600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background 0.3s;
}

button:hover {
    background: #c24f02;
}

.result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
    padding: 10px;
    background: #e9ecef;
    border-radius: 5px;
}
